<?xml version="1.0" encoding="utf-8"?>
<!-- AndroidManifest.xml -->
<!-- All three activities must be declared here or the app will crash on launch. -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.chocolate">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Chocolate Gift"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Entry point -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Product details screen opened via Intent -->
        <activity android:name=".ProductDetailsActivity"
            android:exported="false"/>

        <!-- Cart and checkout screen -->
        <activity android:name=".CartActivity"
            android:exported="false"/>

    </application>

</manifest>